body{ 
    background-color: paleturquoise
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    text-align: center;
    color:black;
}
h2 {
    text-align: left;
    color:black
}

.affinitydoc {
    width: 600px;
    height: 400px;
}