body{ 
    background-color:chartreuse;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(https://png.pngtree.com/png-vector/20220520/ourmid/pngtree-happy-emoji-emoticon-showing-double-thumbs-up-like-png-image_4708251.png)
}
h1 {
    text-align: center;
    color:blue;
}
h2 {
    text-align: left;
    color:brown
}

.projects {
    display:flex;
    flex-wrap:wrap;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: greenyellow; 
    border-radius: 25%;
}