body{ 
    background-color:chartreuse;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(https://png.pngtree.com/png-vector/20220520/ourmid/pngtree-happy-emoji-emoticon-showing-double-thumbs-up-like-png-image_4708251.png)
}
h1 {
    text-align: center;
    color:blue;
}
h2 {
    text-align: left;
    color:brown
}