body {
    background: lightslategray;
}

#header {
    text-align: center;
}
#container {
    background: slategray;
}

#sunny-times {
    border: 1px solid darkslategray;
}

#centered-header {
    text-align: center;
}

#color-picker {
    border: 1px solid darkslategray;
}

#sunny-image {
    border: 1px solid darkslategray;
}

#one {
    margin-left: 10px;
}

#two {
    margin-left: 20px;
}

#three {
    margin-left: 30px;
}

.hide { 
    display: none;
}
@media only screen and (min-width: 768px) {

#container {
    background: lightslategray;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap:200px;
}

#sunny-times {
    flex:1;
    background: slategray;
}

#color-picker {
    flex: 1;
    background: slategray;
}

#sunny-image {
    flex: 1;
    background: slategray;
}
}