    body { 
        font-family:'Times New Roman', Times, serif;
        background: lightslategray;
        background-size: cover;
    }

    .assignment a {
        text-align: center;
        padding:5px;
        display: block;
        text-decoration:none;
        color: lightslategray;
    }

    .assignment a:hover {
        background:lightslategray;
        color:darkslategray;
    }
    .assignments { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .assignment {
        background-color: darkslategray;
        border: 1px solid black;
        border-radius: 2px;
        width: 450px;
        padding: 10px;
        text-align: center;
        margin: 3%;
    }

    .assignment img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    
    .project a {
        text-align: center;
        padding:5px;
        display: block;
        text-decoration:none;
        color: lightslategray;
    }

    .project a:hover {
        background:lightslategray;
        color:darkslategray;
    }
    .projects { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .project {
        background-color: darkslategray;
        border: 1px solid black;
        border-radius: 2px;
        width: 450px;
        padding: 10px;
        text-align: center;
        margin: 3%;
    }

    .project img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    p {
        color: lightslategray;
    }

@media only screen and (min-width: 768px) {
    .assignment a {
        text-align: center;
        padding:5px;
        display: block;
        text-decoration:none;
        color: lightslategray;
    }

    .assignment a:hover {
        background:lightslategray;
        color:darkslategray;
    }

    body { 
        font-family:'Times New Roman', Times, serif;
        background: lightslategray;
        background-size: cover;
    }

    h1, h2 {
        text-align: center;
    }

    .assignments {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .assignment {
        background-color: darkslategray;
        border: 1px solid black;
        border-radius: 2px;
        width: 450px;
        padding: 10px;
        text-align: center;
    }

    p {
        color: lightslategray;
    }

    .project a {
        text-align: center;
        padding:5px;
        display: block;
        text-decoration:none;
        color: lightslategray;
    }

    .project a:hover {
        background:lightslategray;
        color:darkslategray;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .project {
        background-color: darkslategray;
        border: 1px solid black;
        border-radius: 2px;
        width: 450px;
        padding: 10px;
        text-align: center;
    }

    .project iframe {
        width:450px;
        height:200px;
    }
}

